<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".pdf"  mimeType="application/pdf" />
      <mimeMap fileExtension=".doc"  mimeType="application/msword" />
      <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
      <mimeMap fileExtension=".xls"  mimeType="application/vnd.ms-excel" />
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </staticContent>
  </system.webServer>
</configuration>
