<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".mp4"  mimeType="video/mp4" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".mov"  mimeType="video/quicktime" />
      <mimeMap fileExtension=".jpg"  mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".png"  mimeType="image/png" />
      <mimeMap fileExtension=".gif"  mimeType="image/gif" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
